.top-banner{
    background-color:#161616;
    color: white;
    display: flex;
    margin: 10vh;
    padding: 7vh;
    border: 1px solid;
    border-radius: 30px;
}
.banner-text{
padding-right: 10px;
}
 
.top-banner h1{
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 10px;
}
.btn{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 7px;
    
}

@media only screen and (max-width: 688px) {
    .top-banner{
        display: flex;
        flex-direction: column;
        margin: 1vh;
        padding: 1vh;
        text-align: center;
    }
    
}